.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.home-nav-spacer {
  height: 100px;
}

.dashboard-container {
  background-color: white;
  margin-top: 20px;
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 10px;
  width: 95vw;
}

.dashboard-navbar-left > p {
  margin-left: 20px;
  font-weight: 500;
}

.dashboard-navbar-right > p {
  margin-right: 20px;
  font-weight: 500;
}

.dashboard-hello-user,
.dashboard-company-name {
  margin-top: 5px;
}

.dashboard-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.dashboard-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
  height: 50vh;
}

.dashboard-body-left {
  border: 1px solid gray;
  width: 56vw;
  margin-right: 5px;
  overflow-y: auto;
}

.dashboard-task-header {
  position: sticky;
  top: 0;
  padding: 0;
  margin: 0;
  padding: 5px;
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  background-color: white;
  border-bottom: 1px solid gray;
}

.dashboard-tasks > h4,
.dashboard-tasks-start > h4 {
  margin: 0;
}

.dashboard-tasks-start {
  padding-top: 5px;
  padding-bottom: 5px;
}

.dashboard-tasks {
  border-top: 1px dashed rgb(128, 128, 128);
  padding-top: 5px;
  padding-bottom: 5px;
}

.dashboard-tasks:hover,
.dashboard-tasks-start:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.274);
}

.dashboard-body-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 36vw;
  margin-left: 5px;
}

.dashboard-body-right-insurance {
  border: 1px solid gray;
  margin-bottom: 5px;
  height: 24vh;
  overflow-y: auto;
}

.dashboard-insurance-header {
  position: sticky;
  top: 0;
  padding: 0;
  margin: 0;
  padding: 5px;
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  background-color: white;
  border-bottom: 1px solid gray;
}

.dashboard-insurance > h4,
.dashboard-insurance-start > h4 {
  margin: 0;
}

.dashboard-insurance-start {
  padding-top: 5px;
  padding-bottom: 5px;
}

.dashboard-insurance {
  border-top: 1px dashed rgb(128, 128, 128);
  padding-top: 5px;
  padding-bottom: 5px;
}

.dashboard-insurance:hover,
.dashboard-insurance-start:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.274);
}

.dashboard-body-right-physician {
  border: 1px solid gray;
  margin-top: 5px;
  height: 24vh;
  overflow-y: auto;
}

.dashboard-physicians-header {
  position: sticky;
  top: 0;
  padding: 0;
  margin: 0;
  padding: 5px;
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  background-color: white;
  border-bottom: 1px solid gray;
}

.dashboard-physicians > h4,
.dashboard-physicians-start > h4 {
  margin: 0;
}

.dashboard-physicians-start {
  padding-top: 5px;
  padding-bottom: 5px;
}

.dashboard-physicians {
  border-top: 1px dashed rgb(128, 128, 128);
  padding-top: 5px;
  padding-bottom: 5px;
}

.dashboard-physicians:hover,
.dashboard-physicians-start:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.274);
}

.dashboard-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid gray;
  height: 100px;
}

.dashboard-footer > h4 {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  padding-right: 15px;
  border-right: 2px dotted gray;
}
