.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  border: 1px solid black;
  height: 100px;
  width: 100vw;
}

.navbar-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.navbar-ambulance-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid gray;
  border-radius: 100%;
  height: 5.5rem;
  width: 5.5rem;
  margin-right: 5px;
  margin-left: 5px;
}

#ambulance-home {
  height: 4rem;
  width: 4rem;
  color: #d62828;
}

.navbar-right {
  background-color: #15B1E5;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.navbar-dropdowns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-bottom: -20px;
}

#insurance-dropdown,
#physicians-dropdown,
#patients-dropdown,
#tasks-dropdown {
  margin-top: -20px;
  border: none;
  background-color: transparent;
}

#profile-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-top: -15px;
  border: none;
  background-color: transparent;
}

#profile-dropdown:focus,
#insurance-dropdown:focus,
#physicians-dropdown:focus,
#patients-dropdown:focus,
#tasks-dropdown:focus {
  border-color: none;
  box-shadow: none;
}

#profile-cog {
  height: 1.8rem;
  width: 2.5rem;
  padding: 0;
  margin: 0;
  margin-bottom: -5px;
}
